---
layout: default
---
<div class="container">
  <div class="row">
    <div class="span9">
      {{ content }}
    </div>
    <aside class="span3 sidebar">
      <h2><i class="icon-user"></i> Sobre mim</h2>
      <div style="text-align:justify;">
      <p>Sou um desenvolvedor Brasileiro apaixonado pelo que faço e imerso no mundo da programação desde 2008 quando fiz do meu hobby profissão, meu nome é Rafael Henrique Moreira mas pode me chamar de RafaDev.</p>
      <p>Estou me formando em Ciências da Computação na Universidade Federal de Sergipe e já trabalhei profissionalmente para várias empresas sem nunca deixar de tocar meus projetos pessoais.</p>
      <p>Se quiser entrar em contato você pode me enviar um <a href="mailto:{{ site.author.email }}">email</a> que ficarei feliz em responder.</p>
      </div>
    </aside>
  </div>
</div>